In [2]:
# 1.Convert an integer to a floating point number.

n = 6
n1 = float(n)
n1

6.0

In [3]:
# 2.Convert a float to an integer.

f = 2.0
f1 = int(f)
f1

2

In [4]:
# 3.Convert an integer to a string.

n = 8
n1 = str(n)
n1

'8'

In [5]:
# 4.Convert a list to a tuple.

l = [1,2,3]
t = tuple(l)
t

(1, 2, 3)

In [6]:
# 5.Convert a tuple to a list.

t = (1,2,3)
l = list(t)
l

[1, 2, 3]

In [7]:
# 6.Convert a decimal number to binary .

h = 50
k = bin(h)
k

'0b110010'

In [11]:
# 7.Convert a non-zero number to boolean

j = 1
g = bool(j)
g

True